.d-flex input {
    margin: 1em 0em;
}

.d-flex button {
    margin: 1.5em .6em;
    padding: 0.5em 3.6em;
}

.container table {
    margin: 1em 10em;
}

table .btn-edit {
    color: lightgreen;
    cursor: pointer;
}

table .btn-delete {
    color: red;
    cursor: pointer;
}

/* messages */
.updatemsg,
.deletemsg,
.insertmsg {
    position: absolute;
    top: -40px;
}

.movedown {
    animation: slideup 3.4s ease;
}


@keyframes slideup {
    50% {
        top: 0;
    }

    100% {
        top: -40px;
    }
}